body {
	color: #FDF6CA;
	background-color: #231F20;
	font-family: "TeX Gyre Adventor";
	margin: 0;
}

a {
	color: inherit;
}

header {
	font-family: "Bebas Neue";
}

header h1 {
	float: left;
}

header h2 {
	font-style: italic;
	float: right;
}

header, #legend {
	padding: 1em;
}

footer {
	text-align: center;
	border-top: 1px dotted #E3D8A2;
	color: #E3D8A2;
	margin-top: 2em;
	padding-top: 2em;
}

footer article {
	width: 60em;
	margin: auto;
}

#map {
	width: 100%;
	height: 560px;

	color: black;
}

.biometric {
	background-color: #ffd4c9;
	fill: #ffd4c9;
}

.colorKey, .key {
	float: left;
	margin-right: .5em;
	margin-top: .15em;
	max-width: 1.5em;
	max-height: 1.5em;
}

.colorKey {
	border: 1px solid black;
	width: 1em;
	height: 1em;
}
