body {
	color: #FDFDFD;
	background-color: #131313;
	font-family: "TeX Gyre Adventor";
}

a {
	color: inherit;
}

header {
	font-family: "Bebas Neue";
}

header h1 {
	float: left;
}

header h2 {
	font-style: italic;
	float: right;
}

footer {
	text-align: center;
	border-top: 1px dotted #EDEDED;
	color: #EDEDED;
}

footer article {
	width: 60em;
	margin: auto;
}

#map {
	width: 100%;
	height: 560px;

	color: black;
}

.biometric {
	background-color: #ffd4c9;
	fill: #ffd4c9;
}

.colorKey {
	width: 1em;
	height: 1em;
	border: 1px solid black;
	float: left;
	margin-right: .5em;
	margin-top: .4em;
}
