/*
* Below are Cascading Style Sheet (CSS) definitions in use in this file,
* which allow easily changing how countries are displayed.
*
*/

/*
* circles around small countries
*
* Change opacity to 1 to display all circles.
*
*/
.circlexx
{
 opacity:0;
 fill:#E0E0E0;
 stroke:black;
 stroke-width:0.5;
}

/*
* Smaller circles around French DOMs and Chinese SARs
*
* Change opacity to 1 to display all subnational circles.
*
*/
.subxx
{
 opacity:0;
 stroke-width:0.3;
}

/*
* land
*/
.landxx
{
 fill: grey;
 stroke:#fff;
 stroke-width:0.5;
}

/*
* Styles for coastlines of islands with no borders
*/
.coastxx
{
 stroke-width: 0.3;
}

/*
* Additional style rules
*
* The following are examples of colouring countries.  You can substitute these with your own styles to colour the countries on the map.
*
* Color a few countries:
*
* .gb, .au, .nc
* {
*    fill:       #ff0000;
* }
*
* Color a few small country circles (and the countries):
*
* .ms, .ky
* {
*    opacity:    1;
*    fill:       #ff0000;
* }
*
*/

/*
* Antarctica
*/
.aq
{
 fill:#e6e6e6;
}

/*
* Sea
*/
.ocean
{
 opacity: 0;
 stroke:white;
 stroke-width:0.5;
 stroke-miterlimit:1;
}

.lake
{
 fill:black;
 fill-opacity:1;
 stroke:none;
}
